
# Ignore extensions
*.db
*.log
*.log*

# Ignore folders.
/misc/._*
/scenes/._*
/scripts/._*
/tts/._*
/www/._*
/automations/._*
/.storage
!/.storage/lovelace
custom_components/

.ssh
.cloud
.google.token
appdaemon
homebridge
ssh
utilities


# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
harmony_*
._*

.*
!.gitignore
!.HA_VERSION
!/.storage/lovelace
!.travis.yml
!.gitlab-ci.yml
